@font-face { font-family: SofiaMedium; src: url("../font/SofiaPro/Mostardesign-SofiaProMedium.otf");} 
@font-face { font-family: SofiaBold; src: url("../font/SofiaPro/Mostardesign-SofiaPro-Bold.otf");}



p {font-family: SofiaMedium };
h1 {font-family: SofiaBold};
h2 {font-family: SofiaBold};
h3 {font-family: SofiaBold};


#workers {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/workers.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    position: relative;
    font-family: Arial;
}

.container-fluid {
    position: relative;
    font-family: Arial;
}

.text-block {
    position: absolute;
    top: 10%;
    left: 5%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 35%;
    height: 80%;
    padding-right: 5%;
    padding-left: 2.5%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.btn-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: 35%;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: medium;
    border-color: green;
    border-radius: 15px;
    background-color: green;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

.numbersPage {
    background: #ffdc00;
}

#pngContainer {
    margin-left: 35%;
    position: relative;
    text-align: left;
}

.current-number {
    position: absolute;
    top: 70%;
    left: 25%;
    transform: translate(-50%, -50%);
}

#pngFilling {
    width: 50%;
}

.icon {
    /* width: auto; */
    width: 20%;
    height: 25%;
    margin-left: 40%;
    margin-right: 40%;
}

.text-numbers {
    margin-top: 10px;
    margin-left: 40%;
    font-weight: bolder;
    font-size: larger;
}


#myProgress {
    width: 100%;
    background-color: #ddd;
}

#myBar {
    width: 10%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}