@font-face { font-family: SofiaMedium; src: url("../font/SofiaPro/Mostardesign-SofiaProMedium.otf");} 
@font-face { font-family: SofiaBold; src: url("../font/SofiaPro/Mostardesign-SofiaPro-Bold.otf");}



p {font-family: SofiaMedium };
h1 {font-family: SofiaBold};
h2 {font-family: SofiaBold};
h3 {font-family: SofiaBold};
h4 {font-family: SofiaBold};



@media only screen and (max-width: 575px) {
    div.h4b {
        font-size: large;
    }
    div.faqElem {
        font-size: large;
    }
    div.h2 {
        font-size: large;
    }
    #gora {
        font-size: large;
    }
    #tenThLuncher {
        font-size: "40px";
    }
}

@media only screen and (min-width: 576px) {
    div.h4b {
        font-size: large;
    }
    div.faqElem {
        font-size: larger;
    }
    div.h2 {
        font-size: large;
    }
    #gora {
        font-size: large;
    }

}

@media only screen and (min-width: 768px) {
    div.h4b {
        font-size: x-large;
    }
    div.h2 {
        font-size: larger;
    }
    div.h2 {
        font-size: larger;
    }
    #gora {
        font-size: larger;
    }
}


/* +++++First part+++++ */
.fa-angle-down {
    position: absolute;
    right: 2.5%;
}

.p1 {
    width: 100%;
    background-image: url("../img/workers_sweden_sm.jpg");
    background-clip: content-box;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.p1-content {
    color: white;
}
/* -----End first part----- */
